@import '@/assets/css/variables/colors';

$base: 'movie-details-rating';

.#{$base} {
  float: right;
  font-size: calc(1rem + 1.2vw);

  .#{$base}__icon {
    margin-right: 5px;
    color: $yellow;
  }

  .#{$base}__scale,
  .#{$base}__votes {
    font-size: calc(0.8rem + 0.3vw);
    color: $gray;
  }
}
