@import '/src/assets/styles/theme/breakpoints';
@import '/src/assets/styles/theme/colors';

.rating {
  float: right;
  font-size: calc(1rem + 1.2vw);

  @media (max-width: $bp-small) {
    text-align: right;
  }
}

.icon {
  margin-right: 3px;
  color: $yellow;
}

.scale,
.votes {
  font-size: calc(0.8rem + 0.3vw);
  color: $gray;

  .votesValue {
    margin-left: 3px;
  }

  .votesLabel,
  .votesValue {
    @media (max-width: $bp-small) {
      display: block;
    }
  }
}
