$movie-navbar-cls: "movies-navbar";
$movie-details-base-cls: "movie-details";
$movies-list-base-cls: "movies-list";

.#{$movies-list-base-cls} {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}
