// footer links (on hover)
$white_base: #fff;

// movie details (text in transparent sections), movies list (toolbar buttons in default state and on hover, paging links in default state, card title text)
$white_mod: #dee2e6;

// movie list (active page, card rating background), movie details (text in non transparent sections, poster border, player iframe border) 
$black_mod: #212529;

// movie details tags (icons), movie details rating (number), movie details crew names (label)
$gray: #868e96;

// movie details title (release year), movie details tags (text), movie details crew names (value), footer links (without hover)
$lightgray: #afb5ba;

// logo, movie details title, movie details rating (star)
$yellow: #f5cd00;

// progress bar background, movies list card genres text
$darkblue: #222943;

$purple: #363763;

$black-btn-border: #0a0c0d;