// footer links (on hover)
$white: #fff;

// movie list (active page, card rating background), movie details (text in non transparent sections, poster border, player iframe border) 
$black: #212529;

// movie details tags (icons), movie details rating (number), movie details crew names (label)
$gray: #868e96;

// movie details title (release year), movie details tags (text), movie details crew names (value), footer links (without hover)
$lightgray: #afb5ba;

// logo, movie details title, movie details rating (star)
$yellow: #f5cd00;