@import '@/assets/css/variables/colors';

.toggle-block {
  .custom-control-label {
    &:hover {
      cursor: pointer;
    }
  }

  .custom-control-input:checked ~ .custom-control-label {
    &::before {
      border-color: $lightpurple;
      background-color: $lightpurple;
    }
  }
}
