@import "app_assets/css/variables";

$b: "footer";

.#{$b} {
  &__link-wrapper {
    display: inline;
    color: $lightgray;

    @media (max-width: 575.98px) {
      display: block;
    }
  }

  .#{$b}__link {
    color: $lightgray;
    
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }

  .tmdb-logo {
    img {
      width: 85px;
      margin-top: -2px;
    }
  }
}
