$b: 'movie-details';

.#{$b} {

  .#{$b}__column {
    padding: 0px !important;

    &--left {
      @media (max-width: 768px) {
        margin: 20px 0px !important;
      }
    }
  }

  .#{$b}__poster {
    // fix image 16by9 width proportion
    width: auto !important;

    @media (max-width: 768px) {
      // fix image 16by9 width proportion
      position: relative !important;

      display: block;
      max-height: 350px;
      width: auto;
      height: auto;
      margin: 0 auto;
    }
  }

}