@import '@/assets/css/theme/animations';
@import '@/assets/css/theme/colors';

.poster {
  border: 1px solid $black_mod !important;

  // fit parent column width if no responsive needed
  width: 100%;

  &.noImage {
    border: 1px solid lightgray !important;
  }

  &:global(.embed-responsive-item) {
    // fix for image 16by9 width proportion
    width: auto !important;
    animation: animateOpacity 0.5s ease;

    @media (max-width: 768px) {
      // fix for image 16by9 width proportion
      position: relative !important;

      display: block;
      max-height: 400px;
      width: auto;
      height: auto;
      margin: 0 auto;
    }
  }
}
