$padding-top: 4.7rem;
$padding-top--sm: 5.8rem;

body {
  height: 100vh;
}

#root {
  height: 100%;
}

.layout {
  word-break: break-word;
  padding: $padding-top 1rem 1rem 1rem;
  height: calc(100% - #{$padding-top});

  @media (max-width: 576px) {
    padding: $padding-top--sm 1rem 1rem 1rem;
    height: calc(100% - #{$padding-top--sm});
  }
}
