{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "transform-remove-console",
      {
        "exclude": [
          "log"
        ]
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "react-hot-loader/babel"
  ]
}