@import 'app_assets/css/variables';

$b: $movie-page-cls;

@mixin embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.#{$b} {
  .movie-player {
    .react-player__preview {
      @include embed-responsive-item;
    }
  }

  // movie player progress bar
  .cstm-progress {
    top: 0px;
  }
}