.search-form {
  width: calc(100% - 60px);
  padding: 0px 10px;

  @media (max-width: 576px) {
    padding: 0px 10px 0px 0px;
  }

  .form-control {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #0a0c0d !important;
  }
}
