@import "app_assets/css/variables/base_classes";
@import "app_assets/css/variables/colors";

$b: $movies-list-base-cls;
$b_card: "#{$b}-card";

$image-height: 300px;
$image-height--sm: 400px;
$image-border-radius: 8px;

@mixin card-image {
  width: 100%;
  height: 100%;
  border-radius: $image-border-radius;
}

.#{$b} {

  .#{$b_card} {
    &__image-wrapper {
      position: relative;
      height: $image-height;

      @media screen and (max-width: 576px) {
        height: $image-height--sm;
      }

      .#{$b_card}__image {
        @include card-image;
        object-fit: cover;
        animation: animateOpacity 0.7s ease;
      }

      .no-image-text {
        @include card-image;
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;

        font-size: 1.1rem;
        word-break: break-word;
        color: $lightgray;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}
