@import '@/assets/css/theme/breakpoints';
@import '@/assets/css/theme/colors';

@mixin btn-style {
  color: $yellow !important;
  border-color: $black-btn-border !important;
  background-color: $black_mod !important;
}

.toggle:global(.btn) {
  @include btn-style;

  @media (max-width: $bp-small) {
    font-size: 14px;
  }

  &:focus {
    box-shadow: none !important;
    @include btn-style;
  }
  &:active {
    box-shadow: none !important;
    @include btn-style;
  }
}
