.movies-list {
  .card {
    width: 175px;
    margin-bottom: 20px;

    .card-body {
      background-color: #222943;;
      color: #fff;
      padding: 0.85rem;
      line-height: 1.2;
    }

    img {
      width: 100%;
    }
  }
}