@import '/src/assets/styles/theme/breakpoints';
@import '/src/assets/styles/theme/colors';

.nav:global(.navbar) {
  background-color: $purple;
  border-bottom: 1px solid $black-btn-border;
  padding: 0.8rem 1rem;

  @media (max-width: $bp-small) {
    padding: 0.5rem 1rem;
  }
}
