@import '/src/assets/styles/theme/colors';

.message {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  font-size: calc(1rem + 0.5vw);
  color: $white_mod;
}

.accessNote {
  font-size: calc(1rem);
  margin-top: 10px;
  color: $lightgray;
}
