@import '@/assets/css/theme/variables';

.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, $list-card-width);
  justify-content: space-between;
  margin-top: 20px;

  @media screen and (max-width: 576px) {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
