@import '/src/assets/styles/theme/breakpoints';
@import '/src/assets/styles/theme/variables';

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, $list-card-width);
  justify-content: space-between;
  margin-top: 20px;

  @media (max-width: $bp-small) {
    grid-template-columns: repeat(auto-fill, $list-card-width--sm + 12);
  }
}
