@import "app_assets/css/variables/base_classes";

$b: $movies-list-base-cls;
$b_grid: "#{$b}-grid";
$b_card: "#{$b}-card";

$card-width: 200px;
$card-width--sm: 300px;

.#{$b} {
  .#{$b_grid} {
    display: grid;
    grid-template-columns: repeat(auto-fill, $card-width);
    justify-content: space-between;
    margin-top: 20px;

    @media screen and (max-width: 576px) {
      grid-template-columns: repeat(auto-fill, 100%);
    }
  }

  .#{$b_card} {
    display: flex;
    flex-direction: column;
    width: $card-width;
    margin-bottom: 15px;
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

    @media screen and (max-width: 576px) {
      width: $card-width--sm;
    }
  }
}
