@import "app_assets/css/variables/colors";

.search-form {
  position: relative;
  width: calc(100% - 60px);
  padding: 0px 10px;

  @media (max-width: 576px) {
    padding: 0px 10px 0px 0px;
    width: calc(100% - 55px);
  }

  .search-icon {
    position: absolute;
    color: $gray;
    top: 11px;
    left: 18px;

    @media (max-width: 576px) {
      top: 10px;
      left: 8px;
    }
  }

  .form-control {
    padding-left: 32px;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: $black-btn-border;

    @media (max-width: 576px) {
      font-size: 14px;
    }

    &.active,
    &:focus {
      box-shadow: none !important;
      border-color: $black-btn-border;
      color: $white_mod;
      background-color: rgba(0, 0, 0, 0.3);

      &::placeholder {
        color: $gray;
      }
    }
  }
}
