@import '@/assets/css/theme/breakpoints';
@import '@/assets/css/theme/colors';

.icon {
  position: absolute;
  color: $gray;
  top: 11px;
  left: 18px;

  @media (max-width: $bp-small) {
    top: 10px;
    left: 8px;
  }
}
