@import '/src/assets/styles/theme/breakpoints';
@import '/src/assets/styles/theme/colors';

.wrapper {
  color: $lightgray;

  @media (max-width: $bp-small) {
    display: block;
  }

  .link {
    color: $lightgray;

    &:hover {
      color: $white_base;
      text-decoration: none;
    }
  }
}
