@import '@/assets/css/theme/colors';

$base: 'list-card';

$image-height: 300px;
$image-height--sm: 400px;

@mixin card-image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.#{$base}__image-wrapper {
  position: relative;
  height: $image-height;

  @media screen and (max-width: 576px) {
    height: $image-height--sm;
  }

  .#{$base}__image {
    @include card-image;
    object-fit: cover;
    animation: animateOpacity 0.7s ease;
    border: 1px solid $black_mod;
  }

  .no-image-text {
    @include card-image;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;

    font-size: 1.1rem;
    word-break: break-word;
    color: $lightgray;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid $black_mod;
  }
}
