@import '@/assets/css/theme/animations';
@import '@/assets/css/theme/colors';
@import '@/assets/css/theme/variables';

$base: 'list-card';

@mixin image-size($mod: 0) {
  width: 185px + $mod;
  height: 278px + $mod;
}

@mixin image-size-small() {
  width: $list-card-width--sm;
  height: 195px;
}

@mixin image-border {
  border-radius: 8px;
  border: 1px solid $black_mod;
}

.wrapper {
  position: relative;
  @include image-size();

  @media screen and (max-width: 576px) {
    @include image-size-small();
  }
}

.image {
  @include image-size(2);
  @include image-border;
  object-fit: cover;
  animation: animateOpacity 0.7s ease;

  @media screen and (max-width: 576px) {
    @include image-size-small();
  }
}

.noImage {
  @include image-size;
  @include image-border;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;

  font-size: 1.1rem;
  word-break: break-word;
  color: $lightgray;
  background-color: rgba(0, 0, 0, 0.5);
}
