@import "app_assets/css/variables/colors";

$border-radius: 6px;
$border-color: #0a0c0d;

@mixin dark-btn-style {
  color: $white_mod !important;
  border-color: $border-color !important;
  background-color: $black_mod !important;
}

.toolbar-wrapper {
  @media (max-width: 576px) {
    padding-right: 0px !important;
  }
}

.movies-filter {
  border-radius: 8px;

  width: 100%;
  .btn {
    color: $white_mod;
    z-index: 0 !important;
    min-height: 38px;
    
    @media (max-width: 576px) {
      line-height: 1;
    }

    &-light {
      color: gray;
      border-color: $gray;
    }

    &-dark {
      @include dark-btn-style;
    }

    &:focus {
      box-shadow: none !important;
      @include dark-btn-style;
    }
    &:active {
      box-shadow: none !important;
      @include dark-btn-style;
    }

    &:hover {
      @include dark-btn-style;
    }
  }
}
