@import "app_assets/css/variables/colors";

$border-radius: 6px;
$border-color: $black-btn-border;

@mixin dark-btn-style {
  color: $yellow !important;
  border-color: $border-color !important;
  background-color: $purple !important;
}

.toolbar-wrapper {
  @media (max-width: 576px) {
    padding-right: 0px !important;
  }
}

.movies-filter {
  border-radius: 8px;

  width: 100%;
  .btn {
    color: $white_mod;
    z-index: 0 !important;
    min-height: 38px;
    line-height: 1;
    word-break: break-all;
    
    @media (max-width: 576px) {
      font-size: 14px;
    }

    &-light {

      color: #afb5ba;
      border-color: $border-color;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &-dark {
      @include dark-btn-style;
    }

    &:focus {
      box-shadow: none !important;
      @include dark-btn-style;
    }
    &:active {
      box-shadow: none !important;
      @include dark-btn-style;
    }

    &:hover {
      @include dark-btn-style;
    }
  }
}
