@import 'app_components/layout/navigation/Navigation.scss';

.webpack-image {
  background-image: url('~app_assets/img/webpack_logo.png');
  background-size: contain;
  width: 500px;
  height: 195px;
}