@import '@/assets/css/theme/breakpoints';
@import "@/assets/css/theme/colors";

.input:global(.form-control) {
  padding-left: 32px;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: $black-btn-border;

  @media (max-width: $bp-small) {
    font-size: 14px;
  }

  &.active,
  &:focus {
    box-shadow: none !important;
    border-color: $black-btn-border;
    color: $white_mod;
    background-color: rgba(0, 0, 0, 0.3);

    &::placeholder {
      color: $gray;
    }
  }
}