@import 'app_assets/css/variables/colors';

.search-results {
  display: block;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  color: $white_mod;
  font-size: calc(1rem + 0.5vw);

  & span:not(&__quotes) {
    margin-right: 7px;
  }

  &__quotes {
    margin-right: 0px;
    color: $white_mod;
  }

  &__highlight {
    color: $yellow;
  }
}
