@import "app_assets/css/variables/base_classes";
@import "app_assets/css/variables/colors";

$b: $movie-details-base-cls;

.#{$b} {
  .#{$b}__title {
    font-weight: bold;
    color: $yellow;
  }
  .#{$b}__year {
    color: $lightgray;
    padding-left: 10px;
    font-size: calc(1.375rem + 0.5vw);
    font-weight: 400;
  }
}
