@import "app_assets/css/variables/base_classes";
@import "app_assets/css/variables/colors";

$b: $movies-list-base-cls;
$image-width: 173px;
$image-height: 260px;

.#{$b} {
  color: $white_mod;

  .#{$b}__search-results {
    display: block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    font-size: calc(1rem + 0.5vw);

    .search-highlight {
      color: $yellow;
    }
  }
  
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}
