@import "app_assets/css/variables/base_classes";
@import "app_assets/css/variables/colors";

$b: $movie-navbar-cls;

.#{$b}.navbar {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));

  // background-color: #2B3D7C;
  // background-color: #363763;
  // background-color: rgba(54, 55, 99, .8);
  
  padding: 0.8rem 1rem;

  @media (max-width: 576px) {
    padding: 0.5rem 1rem;
  }

  .link-home {
    color: $yellow;
    font-size: 1.8rem;
    line-height: 0;
    font-weight: 500;
    font-family: "Bebas Neue", cursive;

    &:hover {
      color: $yellow;
      text-decoration: none;
    }
  }
}
