.actors-row {
  
  .cast-item {
    margin-bottom: 10px;
    display: inline;
    float: left;

    &.col {
      flex-grow: initial;
    }

    .cast-image {
      width: 150px;
      height: 225px;
      border: 1px solid lightgray;

      &.no-image {
        background-image: url("~app_assets/img/no_photo.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }

    .cast-name {
      line-height: 1.2;
      margin-top: 3px;
    }
  }
}
