@import "app_assets/css/variables/base_classes";
@import "app_assets/css/variables/colors";

$b: $movies-list-base-cls;
$b_grid: "#{$b}-grid";
$b_card: "#{$b}-card";

// after media width: 991px
$card-width: 200px;
$image-height: 297px;

// before media width: 991px
$card-width--sm: 300px;
$image-height--sm: 447px;

$body-text-color: #fff;
$genres-text-color: lightslategray;
$rating-border-color: #343a40;

.#{$b} {
  .#{$b_grid} {
    display: grid;
    grid-template-columns: repeat(auto-fill, $card-width);
    justify-content: space-between;

    @media screen and (max-width: 991px) {
      grid-template-columns: repeat(auto-fill, $card-width--sm);
    }
  }

  .#{$b_card} {
    display: flex;
    flex-direction: column;
    width: $card-width;
    margin: 10px 10px 10px 0px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

    @media screen and (max-width: 991px) {
      width: $card-width--sm;
    }

    &:hover {
      text-decoration: none;
      transform: scale(1.05);
    }

    &__body {
      flex: 1 1 auto;
      position: relative;
      padding: 0.85rem;
      background-color: $darkblue;
      color: $body-text-color;
    }

    &__title {
      line-height: 1.2;
    }

    &__rating {
      position: absolute;
      min-width: 35px;
      right: 7px;
      top: 7px;
      padding: 5px;
      font-size: 0.8em;
      text-align: center;
      background-color: $black;
      color: $yellow;
      border: 2px solid $rating-border-color;
      border-radius: 50%;
    }

    &__genres {
      color: $genres-text-color;
    }

    &__image {
      width: 100%;
      height: $image-height;

      @media screen and (max-width: 991px) {
        height: $image-height--sm;
      }

      .no-image {
        object-fit: contain;
      }
    }
  }
}
