@import "app_assets/css/variables/base_classes";
@import "app_assets/css/variables/colors";

$b: $movies-list-base-cls;
$b_grid: "#{$b}-grid";
$b_card: "#{$b}-card";

$title-text-color: $white_mod;
$genres-text-color: $lightblue;

@mixin text-ellipsis {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.#{$b} {
  .#{$b_card} {
    &:hover {
      text-decoration: none;
      transform: scale(1.1);
      cursor: pointer;
    }

    &__body {
      flex: 1 1 auto;
      position: relative;
      padding: 0.3rem;

      // padding: 5px 10px;
      // background-color: rgba(0, 0, 0, 0.5);
      // border-radius: 0px 0px 8px 8px;
    }

    &__title {
      @include text-ellipsis;
      line-height: 1.2;
      color: $title-text-color;
    }

    &__genres {
      @include text-ellipsis;
      color: $genres-text-color;
    }
  }
}
