@import "app_assets/css/variables/base_classes";
@import "app_assets/css/variables/colors";

$b: $movies-list-base-cls;
$b_grid: "#{$b}-grid";
$b_card: "#{$b}-card";

$card-width: 200px;
$card-width--sm: 300px;

$title-text-color: $white_mod;
$genres-text-color: $lightblue;;

@mixin text-ellipsis {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.#{$b} {
  .#{$b_grid} {
    display: grid;
    grid-template-columns: repeat(auto-fill, $card-width);
    justify-content: space-between;

    @media screen and (max-width: 576px) {
      grid-template-columns: repeat(auto-fill, 100%);
    }
  }

  .#{$b_card} {
    display: flex;
    flex-direction: column;
    width: $card-width;
    margin: 10px 10px 10px 0px;
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

    @media screen and (max-width: 576px) {
      width: $card-width--sm;
    }

    &:hover {
      text-decoration: none;
      transform: scale(1.05);
      cursor: pointer;
    }

    &__body {
      flex: 1 1 auto;
      position: relative;
      padding: 0.3rem;
    }

    &__title {
      @include text-ellipsis;
      line-height: 1.2;
      color: $title-text-color;
    }

    &__genres {
      @include text-ellipsis;
      color: $genres-text-color;
    }
  }
}
