@import "app_assets/css/variables/colors";

$li-border-radius: 5px;
$a-color: $lightgray;
$a-color--active: $white_mod;
$a-color--hover: $white_mod;

.pagination-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;

  @media (max-width: 768px) {
    margin-top: 10px !important;
  }
}

ul.pagination {
  @media (max-width: 576px) {
    padding:0px 5px;
  }

  li {
    padding: 7px 5px;
    border-radius: $li-border-radius;

    &.active {
      @media (max-width: 576px) {
        border-color: transparent;
      }

      a {
        color: $a-color--active;
        font-weight: bold;
      }
    }

    &.disabled {
      a {
        cursor: not-allowed;
      }
    }

    a {
      padding: 5px;
      outline: none;
      cursor: pointer;
      color: $a-color;

      @media (max-width: 576px) {
        padding: 0px;
      }

      &:hover {
        color: $a-color--hover;
        text-decoration: none;

        &:not(.pagination__link--prev):not(.pagination__link--next) {
          font-weight: bold;
        }
      }
    }
  }
}
