@import "app_assets/css/variables/colors";

ul.pagination {
  a {
    color: $lightgray;

    &:hover {
      color: $black;
      font-weight: bold;
      text-decoration: none;
    }
  }

  li {
    padding: 5px;
    border: 1px solid transparent;

    @media (max-width: 576px) {
      padding: 3px;
    }

    &.active {
      border-color: lightgray;
      
      a {
        color: $black;
        font-weight: bold;
      }
    }

    &.disabled {
      a {
        cursor: not-allowed;
      }
    }

    a {
      padding: 5px;
      outline: none;
      cursor: pointer;
      // color: lightgray;

      @media (max-width: 576px) {
        padding: 3px;
      }
    }
  }
}
