@import "app_assets/css/variables/colors";

$li-border-radius: 5px;
$a-color: $white_mod;
$a-color--active: $black_mod;
$a-color--hover: $black_mod;

ul.pagination {
  @media (max-width: 768px) {
    margin-top: 10px !important;
  }

  li {
    padding: 5px;
    border: 1px solid transparent;
    border-radius: $li-border-radius;

    @media (max-width: 576px) {
      padding: 4px;
    }

    &.active {
      border-color: lightgray;

      @media (max-width: 576px) {
        border-color: transparent;
      }

      a {
        color: $a-color--active;
        font-weight: bold;
      }
    }

    &.disabled {
      a {
        cursor: not-allowed;
      }
    }

    a {
      padding: 5px;
      outline: none;
      cursor: pointer;
      color: $a-color;

      @media (max-width: 576px) {
        padding: 0px;
      }

      &:hover {
        color: $a-color--hover;
        text-decoration: none;

        &:not(.pagination__link--prev):not(.pagination__link--next) {
          font-weight: bold;
        }
      }
    }
  }
}
