@import "app_assets/css/variables";

$b: $movie-page-cls;

.#{$b} {
  position: relative;

  .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  .#{$b}__column {
    padding: 0px !important;

    &--left {
      @media (max-width: 768px) {
        margin-bottom: 20px !important;
      }
    }
  }
}
