@import "app_assets/css/variables/base_classes";
@import "app_assets/css/variables/colors";

$b: $movie-details-base-cls;

.#{$b} {
  position: relative;

  .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  .#{$b}__column {
    padding: 0px !important;

    &--left {
      @media (max-width: 768px) {
        margin-bottom: 20px !important;
      }
    }
  }

  &__section {
    padding: 20px 15px;
    color: $black_mod;
    background-color: #fff;
    // background-color: rgba(245, 245, 245, 0.9);
    // background-color: rgba(248, 248, 255, 0.9);
  }

  &__section--is-transparent {
    color: $white_mod;
    background-color: rgba(0, 0, 0, 0.55);
  }

  hr {
    background-color: rgba(245, 245, 245, 0.2);
  }
}
