$b: 'movie-details';
$gray: #868e96;
$lightgray: #afb5ba;
$yellow: #FFA500;

.#{$b} {

  .#{$b}__year {
    color: $gray;
    padding-left: 10px;
    font-size: calc(1.375rem + 0.5vw);
    font-weight: 400;
  }

  $bTop: #{$b}-top;

  .#{$bTop} {
    margin-bottom: 10px;

    .#{$bTop}__item {
      position: relative;
      margin: 10px 5px 10px 10px;

      &:first-child {
        margin-left: 0px;
      }

      @media (max-width: 768px) {
        display: block;
        margin: 0 0 5px 0;
        line-height: 1.2;
      }
    }

    .#{$bTop}__icon {
      color: $lightgray;
    }

    .#{$bTop}__text {
      margin-left: 5px;
      color: $gray;
    }
  }

  $bRate: #{$b}-rating;

  .#{$bRate} {
    float: right;
    font-size: calc(1rem + 1.2vw);

    .#{$bRate}__icon {
      margin-right: 5px;
      color: $yellow;
    }

    .#{$bRate}__scale {
      font-size: calc(0.8rem + 0.3vw);
      color: $gray;
    }
  }
}