$bnPath: '~@/assets/fonts/Bebas-Neue/bebas-neue-v2-latin-regular';
$mPath: '~@/assets/fonts/Manrope/manrope-v4-latin-regular';

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  display: swap;
  src: url('#{$bnPath}.woff2'), url('#{$bnPath}.woff'), url('#{$bnPath}.ttf'), url('#{$bnPath}.svg');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  display: swap;
  src: url('#{$mPath}.woff2'), url('#{$mPath}.woff'), url('#{$mPath}.ttf'), url('#{$mPath}.svg');
}
