@import '/src/assets/styles/theme/colors';

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;

  .tmdbLogo {
    img {
      width: 85px;
      margin-top: -2px;
    }
  }
}
