@import "@/assets/css/theme/colors";

$b: "footer";

.#{$b} {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;

  &__link-wrapper {
    display: inline;
    color: $lightgray;

    @media (max-width: 575.98px) {
      display: block;
    }
  }

  .#{$b}__link {
    color: $lightgray;

    &:hover {
      color: $white_base;
      text-decoration: none;
    }
  }

  .tmdb-logo {
    img {
      width: 85px;
      margin-top: -2px;
    }
  }
}
