@import '@/assets/css/theme/colors';

.wrapper {
  display: block;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  color: $white_mod;
  font-size: calc(1rem + 0.5vw);
}
