@import '@/assets/css/theme/colors';

.form {
  position: relative;
  width: calc(100% - 60px);
  padding: 0px 10px;

  @media (max-width: 576px) {
    padding: 0px 10px 0px 0px;
    width: calc(100% - 55px);
  }
}
